<!doctype html>
<html lang="en">
<head>
    <!-- include header -->
    <%- include('../partials/header.ejs') -%>

</head>
<body>
<!-- Main Site -->
<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between ">
            <div class="filter">
                <a href="/businessContact"><i class="fas fa-angle-double-left"></i> All Contacts</a>
            </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">New contact</h2>
            <span class="contact-light">Use the below form to create a new contact</span>
        </div>

        <!-- include add user form -->
        <%- include('../partials/_form.ejs') -%>

    </div>
</main>
<!-- /Main Site -->
<script src="js/script.js"></script>

</body>
</html>



