<!DOCTYPE html>
<html lang="en">
<head>
    <!--include header-->
    <%- include('../partials/header.ejs') -%>

</head>
<body>
<!--include navbar-->
<%- include('../partials/navbar.ejs') -%>


<!--include home section -->
<%- include('../partials/home.ejs') -%>

<!--include footer section -->
<%- include('../partials/footer.ejs') -%>

</body>
</html>